<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @cart.user %>
</p>

<p>
  <strong>Items count:</strong>
  <%= @cart.items_count %>
</p>

<p>
  <strong>Total:</strong>
  <%= @cart.total %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
