<%= form_for(@cart_item) do |f| %>
  <% if @cart_item.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@cart_item.errors.count, "error") %> prohibited this cart_item from being saved:</h4>

      <ul>
      <% @cart_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :cart_id %><br>
    <%= f.text_field :cart_id, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :product_id %><br>
    <%= f.text_field :product_id, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :total %><br>
    <%= f.text_field :total, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit, class: 'btn btn-info' %>
  </div>
<% end %>
