<h2 class="page-title"><%= @product.name %></h2>
<table class="table table-striped table-hover">
	<tr>
	  <th>Code:</th>
	  <td><%= @product.code %></td>
	</tr>

	<tr>
	  <th>Name:</th>
	  <td><%= @product.name %></td>
	</tr>

	<tr>
	  <th>Price:</th>
	  <td><%= @product.price %></td>
	</tr>

	<tr>
	  <th>Description:</th>
	  <td><%= @product.description %></td>
	</tr>
</table>

<%= link_to 'Back', products_path, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-warning' %>
